.mainDivBackground {
    background-image: url("data:image/svg+xml,%3Csvg width='564' height='108' viewBox='0 0 564 108' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0' mask-type='alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='564' height='108'%3E%3Cpath d='M0 4C0 1.79085 1.79086 0 4 0H560C562.209 0 564 1.79086 564 4V280H0V4Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0)'%3E%3Crect x='-141' y='-210' width='1458' height='712' fill='%23121E66'/%3E%3Crect x='381.841' y='-507.212' width='456.052' height='935.212' transform='rotate(45 381.841 -507.212)' fill='%231F35B3'/%3E%3Ccircle cx='582.523' cy='143.068' r='102.21' transform='rotate(-90 582.523 143.068)' stroke='%23FADE2A' stroke-width='2' stroke-dasharray='10 10'/%3E%3Ccircle cx='479.313' cy='75.1077' r='102.21' transform='rotate(-90 479.313 75.1077)' stroke='%2300C8CF' stroke-width='2' stroke-dasharray='10 10'/%3E%3Crect x='480.313' y='177.318' width='204.42' height='204.42' transform='rotate(-90 480.313 177.318)' stroke='%239C2BFF' stroke-width='2' stroke-dasharray='10 10'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-color: #101a6a;
    width: 556px;
    height: 108px;
    color: white;
}

.card {
    line-height: 1.5;
    background-color: rgb(255, 255, 255);
    transition: box-shadow 0.2s linear 0s;
    background-color: white;
}

.barBottomStyle {
    padding: 26px 22px 22px 22px;
    float: left;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}

.disableResize textarea {
    resize: none;
}

.button {
    display: unset;
    line-height: unset;
    margin: unset;
    padding: 0;
    font-family: unset;
    font-size: unset;
    font-weight: unset;
    color: unset;
    background-color: unset;
    background: none;
    border: none;
    border-radius: unset;
    outline: none;
    transition: unset;
}
