.headerDivBG {
  background-image: url("data:image/svg+xml,%3Csvg width='432' height='40' viewBox='0 0 432 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 0 0 0 0 H 432 V 40 H 0 V 0 Z' fill='%23E466C5'/%3E%3Cmask id='mask0' mask-type='alpha' maskUnits='userSpaceOnUse' x='5' y='0' width='334' height='40'%3E%3Cpath d='M 0 0 H 335 V 40 H 0 V 0 Z' fill='url(%23paint0_linear)'/%3E%3C/mask%3E%3Cg mask='url(%23mask0)'%3E%3Ccircle cx='9' cy='10' r='1' fill='%23981A78'/%3E%3Ccircle cx='19' cy='10' r='1' fill='%23981A78'/%3E%3Ccircle cx='9' cy='20' r='1' fill='%23981A78'/%3E%3Ccircle cx='19' cy='20' r='1' fill='%23981A78'/%3E%3Ccircle cx='29' cy='10' r='1' fill='%23981A78'/%3E%3Ccircle cx='39' cy='10' r='1' fill='%23981A78'/%3E%3Ccircle cx='29' cy='20' r='1' fill='%23981A78'/%3E%3Ccircle cx='39' cy='20' r='1' fill='%23981A78'/%3E%3Ccircle cx='49' cy='10' r='1' fill='%23981A78'/%3E%3Ccircle cx='59' cy='10' r='1' fill='%23981A78'/%3E%3Ccircle cx='49' cy='20' r='1' fill='%23981A78'/%3E%3Ccircle cx='59' cy='20' r='1' fill='%23981A78'/%3E%3Ccircle cx='69' cy='10' r='1' fill='%23981A78'/%3E%3Ccircle cx='79' cy='10' r='1' fill='%23981A78'/%3E%3Ccircle cx='69' cy='20' r='1' fill='%23981A78'/%3E%3Ccircle cx='79' cy='20' r='1' fill='%23981A78'/%3E%3Ccircle cx='89' cy='10' r='1' fill='%23981A78'/%3E%3Ccircle cx='99' cy='10' r='1' fill='%23981A78'/%3E%3Ccircle cx='89' cy='20' r='1' fill='%23981A78'/%3E%3Ccircle cx='99' cy='20' r='1' fill='%23981A78'/%3E%3Ccircle cx='109' cy='10' r='1' fill='%23981A78'/%3E%3Ccircle cx='119' cy='10' r='1' fill='%23981A78'/%3E%3Ccircle cx='109' cy='20' r='1' fill='%23981A78'/%3E%3Ccircle cx='119' cy='20' r='1' fill='%23981A78'/%3E%3Ccircle cx='9' cy='30' r='1' fill='%23981A78'/%3E%3Ccircle cx='19' cy='30' r='1' fill='%23981A78'/%3E%3Ccircle cx='29' cy='30' r='1' fill='%23981A78'/%3E%3Ccircle cx='39' cy='30' r='1' fill='%23981A78'/%3E%3Ccircle cx='49' cy='30' r='1' fill='%23981A78'/%3E%3Ccircle cx='59' cy='30' r='1' fill='%23981A78'/%3E%3Ccircle cx='69' cy='30' r='1' fill='%23981A78'/%3E%3Ccircle cx='79' cy='30' r='1' fill='%23981A78'/%3E%3Ccircle cx='89' cy='30' r='1' fill='%23981A78'/%3E%3Ccircle cx='99' cy='30' r='1' fill='%23981A78'/%3E%3Ccircle cx='109' cy='30' r='1' fill='%23981A78'/%3E%3Ccircle cx='119' cy='30' r='1' fill='%23981A78'/%3E%3Ccircle cx='129' cy='10' r='1' fill='%23981A78'/%3E%3Ccircle cx='139' cy='10' r='1' fill='%23981A78'/%3E%3Ccircle cx='129' cy='20' r='1' fill='%23981A78'/%3E%3Ccircle cx='139' cy='20' r='1' fill='%23981A78'/%3E%3Ccircle cx='149' cy='10' r='1' fill='%23981A78'/%3E%3Ccircle cx='159' cy='10' r='1' fill='%23981A78'/%3E%3Ccircle cx='149' cy='20' r='1' fill='%23981A78'/%3E%3Ccircle cx='159' cy='20' r='1' fill='%23981A78'/%3E%3Ccircle cx='169' cy='10' r='1' fill='%23981A78'/%3E%3Ccircle cx='179' cy='10' r='1' fill='%23981A78'/%3E%3Ccircle cx='169' cy='20' r='1' fill='%23981A78'/%3E%3Ccircle cx='179' cy='20' r='1' fill='%23981A78'/%3E%3Ccircle cx='189' cy='10' r='1' fill='%23981A78'/%3E%3Ccircle cx='199' cy='10' r='1' fill='%23981A78'/%3E%3Ccircle cx='189' cy='20' r='1' fill='%23981A78'/%3E%3Ccircle cx='199' cy='20' r='1' fill='%23981A78'/%3E%3Ccircle cx='209' cy='10' r='1' fill='%23981A78'/%3E%3Ccircle cx='219' cy='10' r='1' fill='%23981A78'/%3E%3Ccircle cx='209' cy='20' r='1' fill='%23981A78'/%3E%3Ccircle cx='219' cy='20' r='1' fill='%23981A78'/%3E%3Ccircle cx='229' cy='10' r='1' fill='%23981A78'/%3E%3Ccircle cx='239' cy='10' r='1' fill='%23981A78'/%3E%3Ccircle cx='229' cy='20' r='1' fill='%23981A78'/%3E%3Ccircle cx='129' cy='30' r='1' fill='%23981A78'/%3E%3Ccircle cx='139' cy='30' r='1' fill='%23981A78'/%3E%3Ccircle cx='149' cy='30' r='1' fill='%23981A78'/%3E%3Ccircle cx='159' cy='30' r='1' fill='%23981A78'/%3E%3Ccircle cx='169' cy='30' r='1' fill='%23981A78'/%3E%3Ccircle cx='179' cy='30' r='1' fill='%23981A78'/%3E%3Ccircle cx='189' cy='30' r='1' fill='%23981A78'/%3E%3Ccircle cx='199' cy='30' r='1' fill='%23981A78'/%3E%3Ccircle cx='209' cy='30' r='1' fill='%23981A78'/%3E%3Ccircle cx='219' cy='30' r='1' fill='%23981A78'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='0' y1='0' x2='222' y2='40' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23E466C5'/%3E%3Cstop offset='1' stop-color='%23E466C5' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");  background-color: #E466C5;
  height: 40px;
  width: 432px;
  border-radius: 4px 4px 0 0;
  position: relative;
}

.newFeatureTag {
  background-color: #570F45;
  color: white;
  font-family: 'Roboto', 'ffmprobold', 'Open Sans', Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  margin-left: 24px;
  margin-top: 32px;
  padding: 0 5px;
  position: absolute;
  text-transform: uppercase;
}

.mainDivBackground {
  width: 432px;
  padding: 15px 20px;
  box-sizing: border-box;
}

.card {
  width: 432px;
  padding: 0;
  line-height: 1.5;
  background-color: white;
  border: 0;
  border-radius: 4px;
}

.contentContainer {
  marginTop: 10px;
}

.barBottomStyle {
  background-color: white;
  border-radius: 0 0 4px 4px;
  border-top: 1px solid #E0E0E0;
  margin-top: 15px;
  padding: 15px 15px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

}

.imageBarStyle {
  width: 432px;
  text-align: center;
}

.imageStyle {
  width: 400px;
}
