
.iconContainer {
  margin-right: 10px;
  top: 2px;
  position: relative;
  color: #662D12;
}

.item {
  display: inline;
}

.container {
  background-color: rgb(255, 198, 171, 0.5);
  font-size: 14px;
  line-height: 20px;
  color: #662D12;
  padding: 8px 14px 8px 14px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  display: flex;
}

.link {
  color: #662D12;
}