
.iconContainer {
  margin-right: 12px;
  position: relative;
  left: 3px;
}

.item {
  display: inline;
}

.container {
  background-color: #F4F7F9;
  color: #333;
  padding: 5px 8px 5px 5px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  display: flex;
  align-items: center;
  border-top: 1px solid #ced7df;
}

.link {
  color: #333;
}
