.locationComposerBar {
    padding: 3px 10px 11px;
    width: 100%;
    box-sizing: border-box;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    float: left;
}

.locationComposerBarWithMedia {
    padding: 3px 10px 11px;
    width: 100%;
    box-sizing: border-box;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    float: left;
}

.locationFieldContainer {
    float: left;
    padding-top: 1px;
    position: relative;
    display: flex;
    width: 100%;
}

.locationFieldLabel {
    font-weight: 600;
    font-size: 12px;
    color: #343e47;
    width: 120px;
    padding-top: 6px;
}

.locationAutocompleteContainer {
    flex-grow: 1;
}

.locationFieldInput {
    border-radius: 4px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 50px;
    margin-left: 4px;
    border: 1px solid #E6EBEF;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 12px;
    width: 100%;
    outline: none;
}
.locationFieldInput:focus {
    border: 1px solid #2d99ec;
}

.locationMenu {
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px;
    background: #ffffff;
    overflow: auto;
    position: absolute;
    margin-left: 5px;
    overflow: auto;
    width: 600px;
    z-index: 100;
    font-size: 12px;
}

.locationFieldRemoveInput {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KPGcgaWQ9IkNhbnZhcyIgZmlsbD0ibm9uZSI+CjxnIGlkPSJYIj4KPGNpcmNsZSBpZD0iRWxsaXBzZSIgY3g9IjgiIGN5PSI4IiByPSI4IiBmaWxsPSIjMTkyNTM0Ii8+CjxnIGlkPSJHcm91cCI+CjxyZWN0IGlkPSJSZWN0YW5nbGUgMiIgd2lkdGg9IjEiIGhlaWdodD0iMTAiIHJ4PSIwLjUiIHRyYW5zZm9ybT0ibWF0cml4KDAuNzA3MTA3IC0wLjcwNzEwNyAwLjcwNzEwNyAwLjcwNzEwNyA0IDQuNzA3MTEpIiBmaWxsPSJ3aGl0ZSIvPgo8cmVjdCBpZD0iUmVjdGFuZ2xlIDIuMSIgd2lkdGg9IjEiIGhlaWdodD0iMTAiIHJ4PSIwLjUiIHRyYW5zZm9ybT0ibWF0cml4KC0wLjcwNzEwNyAtMC43MDcxMDcgLTAuNzA3MTA3IDAuNzA3MTA3IDExLjc3ODEgNC43MDcxMSkiIGZpbGw9IndoaXRlIi8+CjwvZz4KPC9nPgo8L2c+Cjwvc3ZnPgo=");
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    right: 8px;
    z-index: 1;
    cursor: pointer;
}

.optionTitle {
    font-weight: bold;
    padding: 0;
}

.optionTextDescription {
    width: 75%;
    float: left;
    padding-left: 10px;
}

.optionTextDescription p {
    padding: 0;
    margin: 0;
}

.optionImage {
    float: left;
    margin-top: 5px;
    width: 32px;
    padding-left: 15px;
}

.optionRow {
    float: left;
    width: 100%;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 7px;
}

.optionRow:nth-of-type(1) {
    padding-top: 8px;
}

.optionRowHighlighted {
    background-color: #ededed;
}
