.shopgridComposerBar {
    padding: 3px 10px;
    width: 100%;
    box-sizing: border-box;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    float: left;
}

.shopgridFieldContainer {
    float: left;
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
}

.shopgridFieldLabel {
    font-weight: 600;
    font-size: 12px;
    color: #343e47;
    width: 102px;
}

.shopgridHelpIcon {
    color: #343e47;
    font-weight: 600;
    font-size: 12px;
    height: 18px;
    text-align: center;
    display: flex;
    width: 18px;
}

.shopgridAutocompleteContainer {
    flex-grow: 1;
}

.shopgridFieldInput {
    border-radius: 4px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 50px;
    margin-left: 4px;
    border: 1px solid #E6EBEF;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 12px;
    width: 100%;
    outline: none;
}

.shopgridFieldInput:focus {
    border: 1px solid #2d99ec;
}

.questionIcon {
    display: inline;
    cursor: pointer;
}
