/* Hides the Add Report button */

:global(#analytics) header > span > button {
  display: none;
}

/* With publish overriding analyze styles, this fixes the font-size of the drop-downs
and tooltips in the components, and the compare-chart toggle */
:global(#analytics) div > section span,
:global(#analytics) button span,
:global(#analytics) [data-highcharts-chart] div span {
  font-size: 0.75rem !important;
}
/* Fixes the padding of the hourly-chart dropdown  */
:global(#analytics) section div a {
  padding: 5px 10px !important;
}
